@model QuestionBank.Models.MonHoc

@{
    ViewData["Title"] = "Create";
}

<div class="container-form">
    <div class="header-section">
        <h1>Tạo Môn Học</h1>
        
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MaKhoa" class="control-label">Mã Khoa</label>
                    <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.MaKhoa"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MaSoMonHoc" class="control-label">Mã Số</label>
                    <input asp-for="MaSoMonHoc" class="form-control" />
                    <span asp-validation-for="MaSoMonHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenMonHoc" class="control-label">Tên Môn Học</label>
                    <input asp-for="TenMonHoc" class="form-control" />
                    <span asp-validation-for="TenMonHoc" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px" class="form-group text-center">
                    <input type="submit" value="Tạo môn học" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
