@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đã đến với Hutech Question Bank</h1>
    <p>Hỗ trợ tạo câu hỏi và rút trích đề thi</p>
</div>
